body{
    background-color: #363636;
}

.sentenses{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
    z-index: 3;
}

#text{
    width: 858px;
}

.line{
    display: flex;
    justify-content: space-between;
}

.word{
    color: white;
    font-size: 4rem;
    font-family: sans-serif;
    margin: 0rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 5.2rem;

    transition: opacity 200ms;
}

.letter {
    display: inline-block;
    transition: transform 200ms;
}


#text:has(.fancy:hover) .word:not(.fancy:hover){
    opacity: 0.05;
}


@media screen and (max-width: 875px) {
    .word{
        font-size: 1.5rem;
        line-height: 2.2rem;
        letter-spacing: 2px;
    }
    #text{
        width: 305px;
    }
}

html{
    overflow: hidden;
}

body{
    background-color: #363636;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#blob{
    background-image: linear-gradient(
        to right,
        aquamarine,
        mediumpurple
    );

    height: 50px;
    aspect-ratio: 1;
    position: absolute;

    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;

    animation: rotate 20s infinite;

}

#blob-blur{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(30px);
}

@keyframes rotate {
    from{
        rotate: 0deg;
    }
    50%{
        scale: 1 1.5
    }
    to{
        rotate: 360deg;
    }
}